h1{
    color: white;
}
#container{
    width: 50%;
    text-align: center;
    background-color: blue;
    margin: 0 auto;
}
 #button{
    font-size: medium;
 }
#flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 5px;
}
.flexItem{
    display: block;
    border: 1px solid grey;
    width: 25%;
    border-radius: 2px;
    background-color: white;
    font-size: 3em;
    margin:5px;
    opacity: 1;
    border-bottom: 5px solid black;
}
.flexItem:hover{
    cursor: pointer;
    transform: rotate(3deg);
}
.display{
    opacity: 0;
}

